
<div>
    <div>Destination: {{forfaits.destination}}</div>
    <div>Ville de Depart: {{forfaits.villeDepart}}</div>
    <div>Hotel: {{forfaits.hotel.nom}}</div>
    <div>Adresse: {{forfaits.hotel.adresse}}</div>
    <app-etoiles [nbEtoiles]="forfaits.hotel.etoiles"></app-etoiles>
    <div>Chambres {{forfaits.hotel.nmChambres}}</div>
    <div><img src={{forfaits.hotel.photo}} width="300" height="200">
    </div>
    <div>Caracteristiques: {{forfaits.hotel.caracteristiques}}</div>
    <div>Pris: ${{forfaits.prix}}</div>
    <div>Date de Depart{{forfaits.dateDepart}}</div>
    <div>Date de Retour{{forfaits.dateRetour}}</div>
</div>