
.black {
    background-color: black;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}

body {
    background-color: black;
}

font {
    font-family: Roboto;

}

H4 {
    color: white;
    font-size: 44px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}


.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

hr{
    margin-bottom:30px;
    margin-top:30px;
    max-width: 50px;
    border-width: 3px;
    border-color:orangered;
}