/* TestCSS.css */

/* Programmé par Cesar Franco */

/* Le 21 nov 2019 */


body {background: url("../img/480566-web_development-minimalism.jpg") no-repeat center;

    margin:auto; background-color: #131313; text-align: center; width: 900px; font size: 1.2 rem;}

h1

{
font: size: 36px;
}
h2

{
    font: size: 24px;
}

p {font: size: 14 px; text-align: center;


    color: #616161;}

h1, h4 {color: #616161;}
tr { border: 1px solid black; text-align: center; color: antiquewhite; margin: auto;}
ul { border: 1px solid black; text-align: center; color: antiquewhite; margin: auto;}
ol { border: 1px solid black; text-align: center; color: antiquewhite; margin: auto;}

a:link {color: cyan;}
a:visited {color: blue;}
a:hover {text-decoration: underline;}


image {size: 300px; border-radius: 2px;}

