<div>
  <mat-grid-list cols="4" rowHeight="2:1"  gutterSize="10px">
      <mat-grid-tile>
        <app-miniforfait [miniforfaitData]="verifiedVedetteArray[0]"></app-miniforfait>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-miniforfait [miniforfaitData]="verifiedVedetteArray[1]"></app-miniforfait>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-miniforfait [miniforfaitData]="verifiedVedetteArray[2]"></app-miniforfait>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-miniforfait [miniforfaitData]="verifiedVedetteArray[3]"></app-miniforfait>
      </mat-grid-tile>
  </mat-grid-list>
</div>
<div>

 
<div class="forfs">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <app-sidenav></app-sidenav>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-forfait [forfaits]="forfait[0]"></app-forfait>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-sidenav></app-sidenav>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-forfait [forfaits]="forfait[1]"></app-forfait>
    </mat-grid-tile>
  </mat-grid-list>
</div>
    


