@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
    font-family: "Roboto";
    src: local(url(./assets/fonts/roboto/Roboto-Regular.ttf))

}

body{
    font-family: "Roboto", sans-serif;
}